<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.univie.hci.powercoin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".at.ac.univie.hci.powercoin.screen.TickerScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ADD ALL SCREENS HERE -->
        <activity android:name=".at.ac.univie.hci.powercoin.screen.PortfolioScreen" />
        <activity android:name=".at.ac.univie.hci.powercoin.screen.HistoryScreen" />
        <activity android:name=".at.ac.univie.hci.powercoin.screen.NotificationScreen" />
        <activity android:name=".at.ac.univie.hci.powercoin.screen.CalculatorScreen" />
        <activity android:name=".at.ac.univie.hci.powercoin.screen.SettingsScreen" />
    </application>

</manifest>